# Dependencies
node_modules
**/node_modules

# Build outputs
dist
**/dist
*.tsbuildinfo
**/*.tsbuildinfo

# Environment files
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
compose.yml

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# Test
coverage
**/.nyc_output
